<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirtueVault</title>
    <link rel="shortcut icon" href="vaultIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <p>404 - Resource Not Found</p>
    <a href="/">Return to VirtueVault</a>
  </body>
</html>
