<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirtueVault</title>
    <link rel="shortcut icon" href="vaultIcon.png" type="image/x-icon" />
    <link rel="stylesheet" href="404.css" />
  </head>
  <body>
    <div class="error-wrapper">
      <p class="error">404 - Resource Not Found</p>
      <a href="/" class="default-svg-containing-link">
        Return to Vault
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
          <path
            d="M360-240 120-480l240-240 56 56-144 144h488v-160h80v240H272l144 144-56 56Z"
          />
        </svg>
      </a>
    </div>
  </body>
</html>
