<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="vaultIcon.png" type="image/x-icon" />
    <title>VirtueVault</title>
  </head>
  <body>
    <ul>
      <% messages.map((message) => { %>
      <li>
        <p><%= message.user %></p>
        <p><%= message.text %></p>
        <p><%= message.added %></p>
        <a href="/<%= message.id %>">details</a>
      </li>
      <% }) %>
    </ul>
    <a href="/new">Send a message</a>
  </body>
</html>
