<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VirtueVault | Virtue</title>
  </head>
  <body>
    <p>Virtue: <%=message.text %></p>
    <p>Virtue-Utterer: <%=message.user %></p>
    <p>Virtue's date of utterance: <%=message.added %></p>
    <a href="/">Return to Vault</a>
  </body>
</html>
