@import url("global.css");

.site-heading {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
}

ul.virtue-list {
  list-style: none;
}

.virtue-wrapper, .creation-link {
  margin: 1.5rem 2rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--beige);
}

.virtue-wrapper {
  padding-bottom: 2rem;
  border: 0.25rem solid var(--sea-green-dark);
  background: linear-gradient(to bottom, var(--sage), var(--beige));
}

.virtue-wrapper:nth-child(odd) {
  clip-path: polygon(100% 0, 100% 86%, 4% 86%, 0 100%, 0 0);
}

.virtue-wrapper:nth-child(even) {
  clip-path: polygon(100% 0, 100% 100%, 96% 86%, 0 86%, 0 0);
}

.speaker-date-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.virtue-speaker {
  font-size: 1.25rem;
  font-weight: 600;
}

.virtue-date {
  color: var(--velvet-blue-grey);
}

.creation-link {
  box-shadow: 0.2rem 0.3rem 0.2rem 0.3rem var(--sea-green-dark);
  font-size: 1.25rem;
  text-align: center;
}